* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

//wraps the notes-list
.wrapper {
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

//display all notes
.notes-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

//individual note mapped on NotesList
.note {
    background-color: lavender;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    //format the last note on screen used to type a new note
    &.new {
        background-color: rgba(159, 93, 182, 0.6);
        color: #000;
        ::placeholder {
            color: #000;
        }
    }
}

//the 'inner' part of the note, holds the noteText, data and icons
.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
}

//AddNote
textarea {
    border: none;
    resize: none;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0);
    white-space: pre-wrap;
    :focus {
        outline: solid 1px #000;
    }
}

//save button
.save {
    background-color: #5a1075;
    border: 2px solid #5a1075;
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px 10px;
    color: #fff;
    &:hover {
        cursor: hover;
        background-color: turquoise;
        border: 2px solid #fff;
    }
}

//icons
.wrap-icons {
    //,
    //button&.edit {
    height: 27px;
    //background-color: none;
    padding: 3px;
    border: none;
    .icons {
        cursor: pointer;
        height: 100%;
        margin: 2px;
        &:hover {
            border: none;
            border-radius: 20%;
            background-color: lightGrey;
        }
    }
    .edit {
        font-size: 19px;
    }
    .delete,
    .cancel {
        font-size: 23px;
    }
    .saved {
        font-size: 31px;
    }
}

//holdes the date and icons
.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 700px) {
    .note {
        width: 40%;
    }
}

@media screen and (min-width: 990px) {
    .note {
        width: 29%;
    }
}
